{% extends "home.html" %}
{% block content %}

<h2>My Service Memos</h2>

<a href="{{ url_for('complaint_routes.create_service_memo') }}" class="btn">
    + New Service Memo
</a>
<a href="{{ url_for('main_routes.locker_dashboard') }}" class="btn">
    Locker Dashboard
</a>

<br><br>

<table border="1" width="100%" cellpadding="8">
    <tr>
        <th>Service ID</th>
        <th>Complain No</th>
        <th>Product</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Diagnosed</th>
        <th>Date In</th>
        <th>Date Out</th>
    </tr>
    {% for memo in memos %}
    <tr>
        <td>{{ memo.service_id }}</td>
        <td>{{ memo.complain_no }}</td>
        <td>{{ memo.product_name }}</td>
        <td>{{ memo.assigned_user.full_name or memo.assigned_user.username if memo.assigned_user else "Unassigned" }}</td>
        <td>{{ memo.status }}</td>
        <td>{{ "Yes" if memo.diagnosed else "No" }}</td>
        <td>{{ memo.date_in }}</td>
        <td>{{ memo.date_out }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
